name: Deploy to Dev

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      target_branch:
        description: "The release branch to run the script against"
        required: true
        default: "main"

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Setup environment
        uses: ../.github/actions/setup

      - name: Run ESLint
        uses: wearerequired/lint-action@v2
        with:
          eslint: true

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          use-lfs: "true"

      - name: Build and test
        uses: ./.github/actions/build-and-test

  deploy-dev:
    needs: [validate, test]
    runs-on: ubuntu-latest
    name: Deploy to DEV
    environment: development

    steps:
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          use-lfs: "true"

      - name: Build project
        uses: ./.github/actions/build-and-test
        with:
          skip-tests: "true"

      - name: Deploy to AWS
        uses: ./.github/actions/deploy-cdk
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          environment: dev
          ssm-parameter-prefix: /construction-app-dev
