name: Pull Request Checks

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Run lint
        shell: bash
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          use-lfs: "true"

      - name: Build and test
        uses: ./.github/actions/build-and-test
        with:
          build-command: "npm run build"

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Build project
        uses: ./.github/actions/build-and-test
        with:
          build-command: "npm run build"
          skip-tests: "true"
