name: Pull Request Checks

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use the latest stable version

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22" # Specify the Node.js version your project uses

      - name: Install dependencies
        run: npm ci # Use npm ci for clean installs in CI environments

      - name: Run ESLint
        uses: wearerequired/lint-action@v2
        with:
          eslint: true

  test:
    environment: development
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use the latest stable version
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: build
        run: npm run build

      # - name: Setup environment variables
      #   run: |
      #     echo "GEMINI_API_KEY=${{secrets.GEMINI_API_KEY}}" >> $GITHUB_ENV
      #     echo "OPENAI_API_KEY=${{secrets.OPENAI_API_KEY}}" >> $GITHUB_ENV

      - name: Make sure the unit tests pass
        run: npm run test:unit

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use the latest stable version

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Make sure it builds
        run: npm run build
