name: Pull Request Checks

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Run ESLint
        uses: wearerequired/lint-action@v2
        with:
          eslint: true

  test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: dev

    steps:
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          use-lfs: "true"

      - name: Build and test
        uses: ./.github/actions/build-and-test
        with:
          build-command: "npm run build"

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Build project
        uses: ./.github/actions/build-and-test
        with:
          build-command: "npm run build"
          skip-tests: "true"
